@import '../global.scss';

.experiencesWrapper {
    padding: 0 2rem;
    gap: 2rem;

    .experiencesNavItem {
        a {            
            &::before {
                visibility: hidden;
            }
        }
       
    }
}