.header {
    width: 100%;
    padding: 1rem 0;

    img {
        width: 2rem;
        height: 2rem;
    }

    nav {
        gap: 1rem;

        .btnLink {
            text-decoration: none;
        }
    }
}

